name: sdrf-pipelines
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - python=3.10
  - conda-build
  - anaconda-client
  - pandas>=2.1
  - click
  - requests
  - pyyaml
  - numpy
  - defusedxml
  - pyarrow
  - python-duckdb
  - rdflib
  - setuptools