[tool.poetry]
name = "sdrf-pipelines"
version = "1.0.0"
description = "Validate and convert SDRF files to configuration files for pipelines."
readme = "README.md"
authors = ["BigBio Team <ypriverol@gmail.com>"]
license = "Apache 2.0"
repository = "https://github.com/bigbio/sdrf-pipelines"
keywords = ["sdrf", "python", "multiomics", "proteomics"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
]
packages = [
    { include = "sdrf_pipelines" }
]
include = [
    "LICENSE",
    "sdrf_pipelines/openms/unimod.xml",
    "sdrf_pipelines/sdrf_merge/param2sdrf.yml",
    "**/*.xml",
    "**/*.parquet",
    "**/*.yml"
]

[tool.poetry.dependencies]
click = "*"
defusedxml = "*"
duckdb = "*"
pandas = "*"
pyarrow = "*"
pydantic = "*"
python = ">=3.10,<4.0"
pyyaml = "*"
rdflib = "*"
requests = "*"

[tool.poetry.group.test.dependencies]
flake8 = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-datadir = "*"

[tool.poetry.scripts]
parse_sdrf = "sdrf_pipelines.parse_sdrf:main"

[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target_version = ["py310","py311","py312","py313"]

[tool.isort]
profile = "black"

[tool.mypy]
plugins = ["pydantic.mypy"]
packages = ["sdrf_pipelines"]

[[tool.mypy.overrides]]
module = "duckdb"
ignore_missing_imports = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true
